/**
 * This file is used to override chart styles.
 */

svg #ground {
  fill: #FFFFFF;
  stroke: none;
}

svg .axis line {
  fill: none;
  shape-rendering: crispEdges;
}

svg .axis g.zero line {
    stroke: #666666;
}

svg #xAxis line {
  stroke: #e6e6e6;
}

svg #xAxis{
  fill: #666666;
}

svg .axis path {
  stroke: none;
  fill: none;
}

svg .axis text,
svg .legendItem text,
svg text.metaText,
svg text.barLabel,
svg text.bargridLabel,
#titleLine {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"Century Gothic","CenturyGothic","Arial Narrow",Arial,"Lucida Grande",sans-serif;
  font-size: 12px;
}

svg text.metaText {
  font-size:  10px;
  text-rendering: optimizeLegibility;
  fill: #999999;
}

#titleLine {
  fill: #222222;
  font-size: 18px;
  font-weight: bold;
}